.box {
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  align-items: center;
}

img {
  width: 10px;
  height: auto;
  margin-right: 20px;
}

p {
  margin: 0;
}

.links {
  display: flex;
  flex-direction: row;
}

.links a {
  margin-bottom: 10px;
}