/* 
.form-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 200px;
  margin: auto;
  border: 3px solid black;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: center;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;

 
}

.input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid gray;
}

select {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid gray;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

button {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
  align-items: center;
}

button:hover {
  background-color: lightgray;
}

span {
  color: black;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .form {
    flex-direction: row;
    align-items: center;
  }

  .form > label {
    margin-right: 1rem;
  }

  .form > * {
    margin-right: 1rem;
  }

  .form > button {
    margin-top: 0;
    margin-left: 1rem;
  }
} */


.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid grey ;
  padding: 10px;
  color: black;
}

.formTitle {
  margin-bottom: 10px;
}

.credentials {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.credentials input {
  background: none;
  border: none;
  border-bottom: solid black 1px;
  color: black;
  margin: 10px 0;
}
.credentials input:focus {
  outline: none;
}

.credentials span {
  color: red;
}

.submitBtn {
  position: relative;
  left: 0px;
  border-radius: 5px;
  border: solid black 1px;
  background: grey(44, 46, 49);
  color: black;
  font-size: 15px;
  max-width: 200px;
  min-width: 200px;
  max-height: 50px;
  min-height: 50px;
  margin-top: 23px;
}

.submitBtn:hover {
  box-shadow: inset 0 0 10px black;
  font-size: 20px;
}
