.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid grey ;
  padding: 10px;
  color: black;
}
.img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
align-items: center;
flex-direction: column;
padding-top: 20px;
}

/* .img-container img {
  width: 300px;
  height: 300px;
  transform: scale(0.5);
} */
.details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
  font-size: 10px;
}

.details div {
  display: flex;
  align-items: center;
  justify-content: left;
}

.details p {
  margin-left: 30px;
}
