.navContainer {
    border: none;
    outline: none;
    padding: 10px;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  
  .select {
    display:inline;
    position: relative;
    margin-left: 3px;
    margin-right: 10px;
    right: 53%;
    top: 55%;
    min-width: 50px;
    height: 40px;
    color: black;
    padding: 5px 5px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    border: solid rgb(42, 14, 106) 2px;
    background: rgba(255, 255, 255, 0.596);
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
    border: 1px solid black;
  }
  
  .route {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    background-color: #efefef;
    text-align: center;
  }